.welcome-neon{
    color: #ff0000;
    font-size: 0.5em;
    text-shadow: 0 0 5px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 6px #ff0000, 0 0 6px #ff0000;
    animation: neon 2.5s linear infinite;
    margin-top: 2.5vh;
  }
  
  @keyframes neon {
    0% {
      text-shadow: 0 0 2.5px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 3px #ff0000, 0 0 3px #ff0000;
    }
    25% {
      text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 3px #fff, 0 0 6px #ff0000, 0 0 6px #ff0000;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 7px #fff, 0 0 3px #fff, 0 0 12px #ff0000, 0 0 12px #ff0000;
    }
    75% {
      text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 3px #fff, 0 0 6px #ff0000, 0 0 6px #ff0000;
    }
    100% {
      text-shadow: 0 0 2.5px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 3px #ff0000, 0 0 3px #ff0000;
    }
  }